discord.py[voice]
aiosqlite
google_api_python_client
gptfunctionutil
hd2api.py
httpx
htmldate
javascriptasync
keyring
langchain
langchain_community
langchain_core
langchain_openai
langchain_huggingface
lancedb
accelerate
transformers
lxml
Markdown
markitdown
matplotlib
mutagen
nltk
numpy
openai
pandas
perlin_noise
Pillow
playwright
pydantic
PyNaCl
python_dateutil
Requests
scikit_learn
scipy

SQLAlchemy
sqlitedict
tiktoken
tqdm
yt_dlp